@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
#p1, #p2 {
	width: 100%;
	height: 100%;
}

div.node {
/* 	border-radius: 80px; */
/* 	border: 5px solid rgb(255, 255, 255); */
	position: absolute;
/* 	background-color: rgba(244, 128, 46, 1); */
	z-index: 3;
	overflow: hidden;
/* 	display: none; */
}

div.shadow, div.surfice{
	padding: 0px;
	position: absolute;
	z-index: 1;
	border: none;
/* 	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3); */
/*  	display: none; */
}

div.surfice{
	z-index: 4;
	background: none;
/* 	display: none; */
}

div.node p {
/* 	vertical-align: middle; */
/* 	font: normal 15px Arial; */
/* 	text-transform: uppercase; */
/* 	text-align: center; */
	margin: 0;
	padding: 0;
}
#app{
	background-color: rgba(244, 128, 46, 1);
	position: absolute;
	top: 0;
	left: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#menuNodos{
	background: rgb(0,0,0);
	height: 149px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	background-image: url(images/bg_header.png);
}
#menuMapas{
	background: rgb(90,90,90);
	height: 180px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
	background-image: url(images/bg_footer.png);
}
#nodos, #Mapas, #mapa{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
}
