<div id="menuNodos">
	<div id="header">
		<div id="headerIconSpace">
			<div id="headerFertilizacionLogo"></div>
			<div id="headerBotonFoto" class="botonHeader"></div>
			<div id="headerBotonVideo" class="botonHeader"></div>
			<div id="headerInfo"></div>
		</div>
	</div>
</div>
<div id="app">
	<div id="nodos">
		<canvas></canvas>
	</div>
	<div id="Mapas">
		<div id="mapa"></div>
	</div>
</div>
<div id="menuMapas">
	<div id="footer">
		<div id="footerTitulo">
			<img src="images/footer/regiones.png">
		</div>
		<div id="footerIconSpace">
			<div id="footerMapa01" class="botonFooter"></div>
			<div id="footerMapa02" class="botonFooter"></div>
			<div id="footerMapa03" class="botonFooter"></div>
			<div id="footerMarcaProvincia"></div>
		</div>


	</div>
</div>